/vendor
/composer.lock
/node_modules
yarn-error.log

# VM & Ansible
.vagrant/
ansible/*.retry
ansible/roles/.downloads
ansible/roles/manala.*

# Binaries
bin/*
!bin/.gitkeep

# PHP-CS-Fixer
.php_cs.cache

# PHPUnit
.phpunit.result.cache
