includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    level: max

    paths:
        - src
        - tests
        # - spec wait for PHPStan 0.12 support (https://github.com/proget-hq/phpstan-phpspec)

    excludes_analyse:
        - fixtures/applications/Symfony

    symfony:
        container_xml_path: 'fixtures/applications/Symfony/var/cache/test/Yproximite_SymfonyMailerTesting_Fixtures_Applications_Symfony_App_KernelTestDebugContainer.xml'

    inferPrivatePropertyTypeFromConstructor: true

    ignoreErrors:
        # Should be fixed by Symfony
        - '#Property Yproximite\\SymfonyMailerTesting\\Tests\\Bridge\\Symfony\\(.*?)::\$class has no typehint specified.#'
