includes:
    - ./phpstan-baseline.neon
    - tools/phpstan/vendor/phpstan/phpstan-strict-rules/rules.neon
    - tools/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
    - tools/phpstan/vendor/phpstan/phpstan-phpunit/rules.neon
    - tools/phpstan/vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - tools/phpstan/vendor/phpstan/phpstan-symfony/extension.neon
    - tools/phpstan/vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    level: max

    paths:
        - src
        - tests

    excludePaths:
        - fixtures/applications/Symfony

    symfony:
        container_xml_path: 'fixtures/applications/Symfony/var/cache/test/Kocal_SymfonyMailerTesting_Fixtures_Applications_Symfony_App_KernelTestDebugContainer.xml'

    inferPrivatePropertyTypeFromConstructor: true

    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # Should be fixed by Symfony
        - '#Property Kocal\\SymfonyMailerTesting\\Tests\\Bridge\\Symfony\\(.*?)::\$class has no typehint specified.#'
