parameters:
	ignoreErrors:
		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 2
			path: src/Bridge/Behat/MailerContext.php

		-
			message: "#^Property Kocal\\\\SymfonyMailerTesting\\\\MailerLogger\\:\\:\\$events \\(Symfony\\\\Component\\\\Mailer\\\\Event\\\\MessageEvents\\) does not accept mixed\\.$#"
			count: 1
			path: src/MailerLogger.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 4
			path: src/Test/MailerAssertions.php

		-
			message: "#^Access to an undefined static property static\\(Kocal\\\\SymfonyMailerTesting\\\\Tests\\\\Bridge\\\\Symfony\\\\EventListener\\\\MailerLoggerListenerTest\\)\\:\\:\\$container\\.$#"
			count: 2
			path: tests/Bridge/Symfony/EventListener/MailerLoggerListenerTest.php

		-
			message: "#^Call to function method_exists\\(\\) with \\$this\\(Kocal\\\\SymfonyMailerTesting\\\\Tests\\\\Bridge\\\\Symfony\\\\EventListener\\\\MailerLoggerListenerTest\\) and 'getContainer' will always evaluate to true\\.$#"
			count: 2
			path: tests/Bridge/Symfony/EventListener/MailerLoggerListenerTest.php

